*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/***********************************
                NavBar
***********************************/

nav{
    height: 7%;
    border-bottom: #47a8cc solid 2px;
}

nav ul{
    height: 7%;
    display: flex;
    align-items: center;
    padding: 0px 100px;
    list-style: none;
}

nav ul li{
    flex: 2;
    width: 100%;
    margin: auto;
    padding: 1vw;
}

/* .accueil{
    border-bottom: #47a8cc solid 2px;
} */

nav ul li a{
    text-decoration: none;
    color: grey;
}

.logo{
    flex: 5;
}

img.logo{
    height: 60px;
    width: 120px;
    border-bottom: #47a8cc solid 2px;
}

.logo a{
    color: #47a8cc;
}

/***********************************
            Section 1
***********************************/

.qui-sommes-nous{
    height: 90vh;
    width: 100%;
    background-image: url(../images/a-propos-resize.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    padding: 5vh;
}

.qui-text{
    height: 80vh;
    width: 80vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 10px;
    display: flex;
    margin: auto;
    /* padding-top: 5vh; */
    padding: 3%;
}

.montagne{
    height: 60vh;
    width: 60vw;
    margin: 3vh 3vw;
}

.magasin{
    height: 377px;
    width: 531px;
    border-radius: 10px;
}

.text{
    height: 60vh;
    width: 60vw;
    margin: 3vh 3vw;
}

.text h2{
    width: 10vw;
    color: #47a8cc;
    padding: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    text-align: center;
    margin: 7vh 3vw;
}

.qui-text p{
    color: white;
    margin: 7vh 3vw;
    padding: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    font-size: 0.8em;
}


/***********************************
            FOOTER
***********************************/

footer{
    height: 10vh;
    width: 100%;
    background-color: #47a8cc;
    color: white;
    text-align: center;
}

.copyright{
    display: flex;
    justify-content: space-around;
    padding: 0vh 25vw;
    padding-top: 4vh;
    width: 100%;
}

.copyright p{
    flex: 1;
    color: white;
}